<div class="container-fluid p-5" style="min-height: 80vh;">
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-around">
            <div class="col-md-4">
                <img src="../../assets/school.png" width="70%" alt="">
            </div>
            <div class="col-md-4">
                <h3>Stella Maris School</h3>
            </div>
            <div class="col-md-4">
                <div class="progress mx-auto" style="width: 70%;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 92.15%;" aria-valuenow="92.15"
                        aria-valuemin="0" aria-valuemax="100">9.7</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-around">
            <div class="col-md-4">
                <img src="../../assets/highschool.png" width="70%" alt="">
            </div>
            <div class="col-md-4">
                <h3>Ascent Junior College</h3>
            </div>
            <div class="col-md-4">
                <div class="progress mx-auto" style="width: 70%;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 93.6%;" aria-valuenow="93.6"
                        aria-valuemin="0" aria-valuemax="100">93.6%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-around">
            <div class="col-md-4">
                <img src="../../assets/college.png" width="70%" alt="">
            </div>
            <div class="col-md-4">
                <h3>Gitam University</h3>
            </div>
            <div class="col-md-4">
                <div class="progress mx-auto" style="width: 70%;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 77.9%;" aria-valuenow="77.9"
                        aria-valuemin="0" aria-valuemax="100">8.2</div>
                </div>
            </div>
        </div>
    </div>
</div>