<div class="container-fluid px-5 py-2 d-flex flex-column align-items-center justify-content-center"
    style="min-height: 80vh;">
    <div class="row text-center ml-auto">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFeedback" (click)="nullify()">Add Feedback</button>
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let i of feedback;">
            <div class="card p-3 text-center" style="background: none; border: 0;">
                <div class="card-body">
                    <div class="card-title">{{i.name}}</div>
                </div>
                <div class="card-text" style="min-height: 150px;max-height: 250px; overflow-y: auto;">
                    <p>{{i.desc}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addFeedback" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addFeedbackLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFeedbackLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="name">Name</label>
                    <input type="text" class="form-control mb-2" [(ngModel)]="name">
                    <label for="feedback">Feedback</label>
                    <textarea name="add" id="adding" cols="30" rows="10" class="form-control" [(ngModel)]="description" required></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="nullify()">Close</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="add()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>