.footer {
    bottom: 0;
    margin: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1571d4;
    background-color: rgb(197, 235, 237);
}
p {
    margin: 0;
}