<div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="card text-center"
        style="border-radius: 10px; max-width: 80%; margin: auto; background: none; border: 0;">
        <div class="card-header border-0" style="background: none; width: fit-content;">
            <img src="../../assets/dave1.jpeg" class="mt-4 anim1" width="42%" style="border-radius: 50%;">
        </div>
        <div class="card-body">
            <h2 class="mb-4 anim1">Nalluri Dave Richards</h2>
            <h5 class="anim2">Cyber Security Enthusiast</h5>
            <h5 class="anim2">Web Developer</h5>
            <div class="d-flex align-items-center justify-content-between mt-5 anim3">
                <a href="tel:+918919427588" target="_blank"><img
                        src="https://img.icons8.com/material-rounded/24/000000/outgoing-call.png" /></a>
                <!-- <a><img src="https://img.icons8.com/material-rounded/24/000000/facebook-new.png" /></a> -->
                <a href="mailto: daveritchie03@gmail.com"><img src="https://img.icons8.com/material-rounded/24/000000/important-mail.png" /></a>
                <a href="https://github.com/daveritchie03" target="_blank"><img
                        src="https://img.icons8.com/material-rounded/24/000000/github.png" /></a>
                <a href="https://www.linkedin.com/in/daverichards0" target="_blank"><img
                        src="https://img.icons8.com/material-rounded/24/000000/linkedin.png" /></a>
                <a href="https://www.hackerrank.com/daveritchie03"><img
                        src="https://img.icons8.com/windows/32/000000/hackerrank.png" /></a>
            </div>
        </div>
    </div>
</div>