.container-fluid {
    /* background: url('../../assets/bg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}
a {
    position: relative;
    top: 0;
    transition: top ease-in-out 0.5s;
}
a:hover{
    top: -10px;
}

.anim1 {
    opacity: 0;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-name: show;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}
.anim2 {
    opacity: 0;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-name: show;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.anim3 {
    opacity: 0;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-name: show;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}