.animate {
    animation-name: animate1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@keyframes animate1 {
    0% {width: 0%;}
    /* 25% {width: 25%;} */
    75% {width: 25%;}
    /* 100% {width: 50%;} */
    /* 75% {width: 75%;} */
    /* 100% {background-color: #28a745;} */
}