<div class="container d-flex flex-column align-items-center justify-content-center p-5" style="min-height: 80vh;">
    <div class="row">
        <!-- <div class="col-6"> -->
            <h2>Skills</h2>
        <!-- </div> -->
    </div>
    <div class="row mt-5">
        <!-- <div class="col-6"> -->
            <div class="d-flex align-items-center justify-content-center w-100" *ngFor="let i of courses">
                <h4>{{ i.name }}</h4>
                <div class="progress w-50 ml-auto">
                    <div class="progress-bar bg-success animate" role="progressbar" data-value="master" [style.width]=i.skill
                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">{{i.skill}}</div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>