<ul class="mynavbar" id="mynavbar">
    <li><a routerLink="/" class="active">Home</a></li>
    <li><a routerLink="/about" id="abouting">About</a></li>
    <li><a routerLink="/education">Education</a></li>
    <li><a routerLink="/domain">Skills</a></li>
    <li style="margin-left: auto;"><a routerLink="/feedback">Feedback</a></li>
    <li class="ml-auto" id="toggler" (click)="toggle()">
        <i class="fa fa-bars"></i>
    </li>
</ul>

<!-- <button type="button" class="btn1">Test</button> -->