ul {
    color: white;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    top: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 10vh;
    /* height: auto; */
    display: flex;
    align-items: center;
    z-index: 999;
    position: sticky;
    /* margin-bottom: 5%; */
}
li {
    /* float: left; */
    margin: auto 2%;
}
a {
    text-decoration: none;
    color: white;
    text-align: center;
}
#toggler {
    display: none;
}
@media screen and (max-width: 600px) {
    .mynavbar a:not(.active) {display: none;}
    .mynavbar #toggler {
      /* float: right; */
      margin-left: auto;
      display: block;
    }
  }
@media screen and (max-width: 600px) {
    .mynavbar.responsive {position: relative;}
    .mynavbar.responsive #toggler {
      position: absolute;
      right: 0;
      top: 0;
    }
    .mynavbar.responsive li a {
      display: block !important;
      float: left;
    }
    li {
      display: block !important;
    }
  }