/* You can add global styles to this file, and also import other style files */
html, body {
    max-height: 100%;
    height: 100%;
    margin: 0;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Montserrat', sans-serif;
    /* color: black; */
    /* background-color: pink; */
    background-color: rgb(197, 235, 237);
    /* background-color: #800000; */
}
.container-fluid {
    background-color: rgb(197, 235, 237);
    /* background-color: #800000; */
    /* font-weight: 900; */
    line-height: 1.6;
}