<div class="container-fluid d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div class="text-center">
        <h2>Hello!</h2>
        <h3>This is Dave Richards.</h3>
        <h5>Developer</h5>
        <a routerLink='/about' class="btn mt-3">About Me</a>
        <a routerLink='/domain' class="btn mt-3 ml-3">My Geek Stuff</a>
    </div>
</div>