h2 {
    opacity: 0;
    position: relative;
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    color: #1571d4;
}
h3 {
    opacity: 0;
    position: relative;
    animation-name: show;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    color: #1571d4;
    animation-timing-function: ease-in;
}
h5 {
    opacity: 0;
    position: relative;
    animation-name: show;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    color: #1571d4;
    animation-timing-function: ease-in;
}
.btn {
    color: white;
    border: 1px solid #1571d4;
    border-radius: 20px;
    position: relative;
    top: 0;
    color: #1571d4;
    opacity: 0;
    animation-name: show;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-property: all;
    /* transition-duration: 1s; */
    transition-timing-function: ease-in-out;
}
.btn:hover {
    /* transform: ; */
    top: 10px;
    /* color: #1571d4; */
}

@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
